<div class="layout">
  <aside class="sidenav">
    <nav class="nav-list" role="navigation">
      @if (loadedTablesAndViews) {
        <app-nav-section
          label="Tables"
          emptyText="No tables found"
          [items]="tableItems()"
          [selected]="selectedListItem()"
          (selectionChange)="selectListItem($event)"
        >
        </app-nav-section>

        <mat-divider></mat-divider>

        <app-nav-section
          label="Views"
          emptyText="No views found"
          [items]="viewItems()"
          [selected]="selectedListItem()"
          (selectionChange)="selectListItem($event)"
        >
        </app-nav-section>
      }
    </nav>
  </aside>

  <section class="content">
    @if (loadingRows()) {
      <app-loading-indicator />
    }

    <div class="table-container">
      <table
        class="striped"
        mat-table
        matSort
        [dataSource]="rows()"
        [matSortDisabled]="columnNames().length === 0"
        (matSortChange)="onSort($event)"
      >
        @for (columnName of columnNames(); track columnName) {
          <ng-container [matColumnDef]="columnName">
            <th mat-header-cell *matHeaderCellDef [mat-sort-header]="columnName">
              {{ columnName }}
            </th>

            <td mat-cell *matCellDef="let row" [class.numeric]="isNumber(row[columnName])">
              {{ row[columnName] }}
            </td>
          </ng-container>
        }

        <tr mat-header-row *matHeaderRowDef="columnNames(); sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: columnNames()"></tr>
      </table>
    </div>

    <mat-paginator
      class="footer-paginator"
      showFirstLastButtons
      [length]="totalCount()"
      [pageIndex]="pageIndex()"
      [pageSize]="pageSize()"
      [hidePageSize]="true"
      (page)="onPage($event)"
    >
    </mat-paginator>
  </section>
</div>
